<form action="/songs/search" method="get">
	<input type="text" name="term" id="term" value={{term}}>
	<button type="submit">Search</button>
</form>
<table>
	{{#each songs}}
	<tr>
		<td>
			<a onclick="this.firstElementChild.play()" class="button">
				<audio src="{{location}}">
				</audio>
				&#9658;</a>
		</td>
		<td>{{title}}</td>
		<td>{{artist}}</td>
	</tr>
	{{/each}}
</table>